<!--<nav class="navbar navbar-expand-lg navbar-dark bgColor m-4 rounded">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/chef_2.png" 
            width="32" height="32" class="d-inline-block align-top" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbarIcon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link fontOptions" href="#">Recipe Book <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link fontOptions" href="#">Recipe</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fontOptions" href="#">Shopping List</a>
        </li>

      </ul>
    </div>
  </nav>-->

<nav class="navbar navbar-expand-lg navbar-dark bgColor m-4 rounded">
    
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/chef_2.png"
            width="32" height="32" class="d-inline-block align-top" alt="">
    </a>
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbarIcon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        
        <ul class="navbar-nav">
            
            <li class="nav-item">
                <a class="nav-link fontOptions" href="#">Recipe Book <span class="sr-only">(current)</span></a>
            </li>
         
            <li class="nav-item">
                <a class="nav-link fontOptions" href="#" routerLink="/recipe">Recipe</a>
            </li>
         
            <li class="nav-item">
                <a class="nav-link fontOptions" href="#" routerLink="shopping-list">Shopping List</a>
            </li>
      
        </ul>
    </div>

</nav>

