.bgColor{
    background-color: #00BFA5;
}
.fontTitle{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.fontOptions{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.navbarIcon{
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=FFFFFF');
}