/*.bgColor{
    background-color: #00BFA5;
}
.fontTitle{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.fontOptions{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.navbarIcon{
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=FFFFFF');
}*/

.navbarStyle{
    background-color: #ef9a9a;
}
.navbarTitleFont{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}
.vl {
    border-left: 1px solid white;
    margin: 8px;
}
.headerImage{
    height: 15vw;
    background-image: url('https://st.depositphotos.com/1119809/4337/v/950/depositphotos_43372591-stock-illustration-vintage-kitchen-pattern.jpg');
}
