<div class="card col-11 rounded shadow-lg mt-2">

    <div>
        <img class="imgSize" src="https://www.diariamenteali.com/medias/Lasagna-de-carne-con-Salsa-Roja-Completa-Don-Vittorio.jpg?context=bWFzdGVyfGltYWdlc3wxNzEwMDR8aW1hZ2UvanBlZ3xoZWYvaGEyLzg3OTkzMjE0NTY2NzAvTGFzYWduYS1kZS1jYXJuZS1jb24tU2Fsc2EtUm9qYS1Db21wbGV0YS1Eb24tVml0dG9yaW8uanBnfDU2YWYyMjBlNDA2Nzk4Yjg1MzdjOTdkZjYzMWViM2NiZmVlZTMzN2NmYjlmN2ExOTBiODQ3OWYxNDFiZWVhYjQ" 
            alt="">
        
        <h4 class="titleFontStyle">Recipe Name</h4>
        <h6 class="descriptionFontStyle">Description</h6>

    </div>

</div>