<div class="card container shadow-lg p-5 ">

    <input type="text" placeholder="Name" class="col-3" #newIngredientName>
    <input type="text" placeholder="Image" class="col-3 mt-3" #newIngredientImage>

    <div class="col-6 mt-3">
        <div class="row">
            <label for="step">Step {{ nStep }}</label>
            <input name="step" type="text" placeholder="Write a Step" #newIngredientStep>
            <button (click)="addStep()">Add step</button>
        </div>

        <ul>
            <li class="list-group" *ngFor="let item of stepsList; let i = index">
                <div class="row">
                    <h5>Step {{ i+1 }}</h5>
                    <button (click)="deleteStep(i)">X</button>
                </div>
                <p>{{ item }}</p>
            </li>
        </ul>

    </div>

</div>