<div class="card container shadow-lg p-5 ">

    <input type="text" placeholder="Name" class="col-3" #newRecipeName>
    <input type="text" placeholder="Image" class="col-3 mt-3" #newRecipeImage>

    <div class="col-6 mt-3">
        <div class="row">
            <label for="step">Step {{ nStep }}</label>
            <input name="step" type="text" placeholder="Write a Step" #newRecipetStep>
            <button (click)="addStep()">Add step</button>
        </div>

        <ul>
            <li class="list-group" *ngFor="let item of stepsList; let i = index">
                <div class="row">
                    <h5>Step {{ i+1 }}</h5>
                    <button (click)="deleteStep(i)">X</button>
                </div>
                <p>{{ item }}</p>
            </li>
        </ul>

    </div>

    <div class="col-6 mt-3">
        <div class="row">
            <label for="ingredient">Ingredient</label>
            <input name="ingredient" type="text" placeholder="Add a new Ingredient" #newRecipetIngredient>
            <input type="number" placeholder="Amount" #newRecipetIngredientAmount>
            <button (click)="addIngredient()">Add Ingredient</button>
        </div>

        <ul>
            <li class="list-group" *ngFor="let item of ingredientsList; let i = index">
                <div class="row">
                    <h5>{{ item.name }}</h5>
                    <span>{{ item.getAmount() }}</span>
                    <button (click)="deleteIngredient(i)">X</button>
                </div>
            </li>
        </ul>
    
    </div>

    <button (click)="addRecipe()">Add</button>

</div>